<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pushes
    </ion-title>

    <ion-buttons slot="end">
      <ion-button (click)="borrarMensajes()" color="danger">
        <ion-icon name="trash" slot="icon-only"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list> 
    <ion-list-header>
      <ion-label>
        <b>UserID</b>
      </ion-label>
    </ion-list-header>

    <ion-item>
      <ion-label>{{ userID }}</ion-label>
    </ion-item>

    <ion-list-header>
      <ion-label>
        <b>Push</b>
      </ion-label>
    </ion-list-header>

    <ion-item *ngFor="let mensaje of mensajes">
     <ion-label>
      <h3>{{ mensaje.title }}</h3>
      <p>{{ mensaje.body }}</p>
      <p>{{ mensaje.additionalData | json}}</p>
      <small></small>
     </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
